.inputLabelContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.label {
    font-weight: 600;
    color: rgba(59, 74, 94, 0.95);
}

.input {
    max-width: 250px;
    border: 3px solid rgba(59, 74, 94, 0.95);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: rgba(59, 74, 94, 0.95);
}

.error {
    background-color: #c66a6a;
    border: 3px solid darkred;
}