.title {
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0 100px;
    color: #7b56bc;
}

.counterContainer {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.counter {
    text-align: center;
    border: 5px solid #4c55bf;
    border-radius: 15px;
    padding: 30px;
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #94a7e6;
}

.inputsContainer {
    padding: 20px 10px;
    font-size: 24px;
    border: 5px solid #4c55bf;
    border-radius: 15px;

    & > *:not(:last-child) {
        margin-bottom: 30px;
    }
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 5px solid #4c55bf;
    border-radius: 15px;
}

.score {
    font-size: 38px;
    font-weight: 600;
    padding: 20px;
    border: 5px solid #4c55bf;
    border-radius: 15px;
    color: rgba(43, 58, 80, 0.95);
    flex-grow: 1;
    display: grid;
    align-items: center;
}

.error {
    color: red;
}

